@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 20px;
}

.fondo {
    background-color: #B5C18E;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%
}

.logotipo {
   align-items: end;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.contenedor__caja{
    font-family: "Inter", sans-serif;
    font-style: normal;
    flex-direction: column;
}

.contenedor__caja__titulo {
    font-size: 32px;
    color: #0A3871;
    font-weight: 350;
    margin-left: 60px;
    margin-top: 80px;
}

.contenedor__caja__titulo__aviso {
    font-size: 12px;
    color: #495057;
    margin-left: 60px;
    margin-top: 600px;
    display: flex;
    align-items: center;
    gap: 1px;
}

.uno__contenedor__uno {
    margin-left: 60px; 
    margin-top: 5px;
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

.uno__contenedor__uno:hover {
    background-color: #FFFFFF;
    color: #0A3871;
    transform: scale(1.1);
}


.uno__contenedor__uno__dos {
    margin-left: 60px; 
    margin-top: 5px;
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    background-color: #D8DFE8;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #0A3871;
    border-color: #0A3871;
}

.uno__contenedor__uno__dos:hover {
    background-color: #0A3871;
    color: #FFFFFF;
    transform: scale(1.1);
}

.contenedor__dos {
    background-color: #EADBC8;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    margin-left: 80px;
    margin-top: 40px;
}

.contenedor__dos__div {
    font-family: "Inter", sans-serif;
    font-style: normal;
    flex-direction: column;
    align-items: center;
}

.contenedor__dos__div__columna__subtitulo {
    font-size: 12px;
    color: #495057;
    margin-left: 100px;
    margin-top: 32px;
    display: block;
    justify-content: center;
}

.contenedor__dos__div__columna__subtitulo__parrafo {
    font-size: 12px;
    color: #495057;
    margin-left: 20px;
    margin-top: 1px;
}

.imagen__columna {
    margin-top: 243px;
    margin-left: 5px;
}






